body {
    margin:0;
    padding:0;
    overflow:hidden;
}

canvas {
    display:block;
}

#users {
    position: absolute;
    top: 0;
    left: 0;
    width: 500px;
    height: 800px;
    overflow: scroll;
}

#users p {
    color: black;
}